<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>QUB model demo</title>
</head>
<body>

    <h1>QUB Eye Track</h1>

    <h2>Train model:</h2>
    <form action="/model/" method="post">
        {% csrf_token %}
        <label for="name">Name </label>
        <input name="name" type="text" maxlength="20" required/>

        <label for="type">Type </label>
        <select name="type" required>
            {% for type in nn_types %}
                <option value="{{ type.1 }}">{{ type.1 }}</option>
            {% endfor %}
        </select>

        <label for="dataset_id">Dataset </label>
        <select name="dataset_id" required>
            {% for ds in datasets %}
                <option value="{{ ds.id }}">{{ ds.name }}</option>
            {% endfor %}
        </select>

        <input type="submit" value="Train">
    </form>

    <h2>Add dataset </h2>
    <form action="/dataset/" method="post">
        {% csrf_token %}
        <label for="name">Name </label>
        <input name="name" type="text" maxlength="20"/>

        <label for="file_path">File Path </label>
        <input name="file_path" type="text" maxlength="200">

        <input type="submit" value="add dataset">
    </form>

</body>
</html>